{{- if .Values.backend.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "opsight.fullname" . }}-backend-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "opsight.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
data:
  ENVIRONMENT: {{ .Values.backend.env.ENVIRONMENT | quote }}
  WORKERS: {{ .Values.backend.env.WORKERS | quote }}
  PROMETHEUS_MULTIPROC_DIR: {{ .Values.backend.env.PROMETHEUS_MULTIPROC_DIR | quote }}
  PROMETHEUS_METRICS_PORT: {{ .Values.backend.env.PROMETHEUS_METRICS_PORT | quote }}
  LOG_LEVEL: {{ .Values.backend.env.LOG_LEVEL | default "INFO" | quote }}
  CORS_ORIGINS: {{ printf "https://%s" (index .Values.ingress.hosts 0).host | quote }}
{{- end -}} 