{{- if .Values.backend.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "opsight.fullname" . }}-backend-secret
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "opsight.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
type: Opaque
data:
  database-url: {{ printf "postgresql://%s:%s@%s:%s/%s" .Values.postgresql.auth.username (include "opsight.databasePassword" .) (include "opsight.databaseHost" .) (include "opsight.databasePort" .) .Values.postgresql.auth.database | b64enc }}
{{- end -}} 